@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.orbitron{
    font-family: 'Orbitron', sans-serif;
    color: #0f3256;
    font-size: 1.25rem;
    line-height: 1.5;
}

.header-btn{
    border: 0;
    background: none;
}

.blue-button{
    padding: 8px 15px;
    border: none;
}

.light-grey-hover:hover{
    background-color: #dfdddd55;
}

.dark-grey-hover:hover{
    background-color:#d3d3d37e;
}

.bold-text {
    font-weight: 600;
    font-size: .75rem;
  }

  .bold-button {
    font-weight: 700;
    font-size: .875rem;
  }
  