@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Oxygen:wght@300;400&family=Roboto&display=swap');

html{
    height: 100%;
}
*{
    font-family: 'Oxygen', sans-serif;
}

.farms, .account{
    width: 600px;
}

.icon{
    font-size: 16px;
}

.mitr{
    font-family: 'Mitr', sans-serif;
}

.grey-text{
    color:#C3C5CB;
}

.blue-mix{
    background: linear-gradient(to bottom right, #40aff8, #4d47f6);
    color: #fff;
      
}

.account-heading{
    color: #0f3256;
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
    
}

body {
   background-color: #F5F7F9; 
}